@{
    Layout = "";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/loginPage.css" rel="stylesheet" />
<head>


</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/img/softinnyLogo.jpg" id="icon" />
        </div>

        <!-- Login Form -->
        <form method="post" action="/Auth/Login">
            <input type="text" id="login" class="fadeIn second" name="Email" placeholder="E Posta">
            <input type="password" id="password" class="fadeIn third" name="Password" placeholder="Şifre">
            <input type="submit" class="fadeIn fourth col-md-10 " value="Giriş Yap">                       
        </form>
        <label class="fadeIn fourth registerButton">Hala üye değil misin? <a href="/Auth/Register" >Kayıt Ol</a></label>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Şifremi Unuttum</a>
        </div>

    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (@ViewBag.Success != null)
{
    <script>
        swal({

            title: "İşlem Başarılı",
            text: "@Html.Raw(@ViewBag.Success)",
            icon: "success"
        });

    </script>
}
@if (@ViewBag.ErrMsg != null)
{
    <script>
        swal({

            title: "HATA",
            text: "@Html.Raw(@ViewBag.ErrMsg)",
            icon: "error"
        });
    </script>
}
