@using WebUI.ViewModels
@{
    ViewData["Title"] = "Get Products";
    List<ProductModelForListProducts> productList = new List<ProductModelForListProducts>();
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İsim</th>
                <th scope="col">Alış Fiyatı</th>
                <th scope="col">Satış Fiyatı</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Stok</th>
                <th scope="col">Kargo Şirketi</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                @{
                    int j = 1;
                    foreach (var item in productList)
                    {
                        <td>@j</td>
                        <td>@item.ProductName</td>
                        <td>@item.PurchasePrice</td>
                        <td>@item.SalePrice</td>
                        <td>@item.Description</td>
                        <td>@item.Stock</td>
                        <td>@item.CargoCompanyName</td>
                        j++;
                    }
                }

            </tr>
        </tbody>
    </table>
</div>


@section Scripts{
    <script>
        $.ajax({
            url: "/Home/GetProducts",
            method: "GET",
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                    $('tbody').append(`<tr> <td>${(i + 1)}</td> <td>${data[i].productName}</td> <td>${data[i].purchasePrice}</td> <td>${data[i].salePrice}</td> <td>${data[i].description}</td> <td>${data[i].stock}</td> <td>${data[i].cargoCompanyName}</td></tr>`)
                }
            }
        })
    </script>
}



