@{
    var product = ViewBag.Message;
}


<div id="root">
    <form method="post" action="/Product/UpdateProduct">

        <div class="container mt-5">
            <div class="row d-flex justify-content-center productRow my-5" data-row-id="1">
                <div class="col-md-8 mb-3 form-group">
                    <label> Ürün Adı</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-file-signature"></i></span>
                        </div>
                        <input type="text" name="Name" placeholder="Ürün Adı" class="form-control productNameTextbox">
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Alış Fiyatı </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                        <input type="text" name="PurchasePrice" placeholder="123.123" class="form-control productPurchasePriceTextBox" required />
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Satış Fiyatı </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                        <input type="text" name="SalePrice" placeholder="123.123" class="form-control productSellingPriceTextBox" required />
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Ürün Açıklaması </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-file-signature"></i></span>
                        </div>
                        <textarea name="Description" placeholder="Aracın değişeni yoktur. Sadece 5 taklalıdır." class="form-control productDescriptionTextBox" required>@product.Description</textarea>
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Stok Adeti </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                        </div>
                        <input type="text" name="Stock" placeholder="123" class="form-control productStockAmountTextBox" required />
                    </div>
                </div>
                <div class="col-md-8 mb-3 form-group">
                    <label> Kargo Şirketi </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-truck"></i></span>
                        </div>
                        <select placeholder="Kargo Şirketi Seçiniz." name="CargoCompanyName" class="form-control selectBoxForShipping" data-row-id="1" required></select>
                    </div>
                </div>
                <div class="col-md-8 mb-3 categories">
                    <label> Kategori </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <select placeholder="Kategori Seçiniz." name="CategoryName" class="form-control selectBoxForCategory" data-row-id="1" required></select>
                    </div>
                </div>
                <div class="row  d-flex justify-content-end">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button style="display:none;" class="btn btn-outline-primary updateProductButton"></button>
                        </div>
                    </div>
                </div>
            </div>
            <textarea name="Id" style="display:none;" class="form-control productIdTbx">@product.Id</textarea>
        </div>
    </form>
    @*Add Product and New Line Buttons*@
    <div class="row  d-flex justify-content-end">
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-outline-primary fakeProductButton">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function() {
        Select2Prepare(".selectBoxForShipping", "/ShippingCompany/GetShippingCompanies")
        Select2Prepare(".selectBoxForCategory", "/Category/GetCategories")
        $(".productNameTextbox").val(@product.Name)
        $(".productPurchasePriceTextBox").val(@product.PurchasePrice)
        $(".productSellingPriceTextBox").val(@product.SalePrice)
        $(".productStockAmountTextBox").val(@product.Stock)
    })

    $(".fakeProductButton").on('click', function() {
        accceptenceSwal();
    })

    function accceptenceSwal() {
        swal("Ürünü güncellemek istediğinize emin misiniz?", {
            buttons: {
                cancel: "Hayır",
                catch: {
                    text: "Evet",
                    value: "catch",
                },
            },
            icon: "warning",
        }).then((value) => {
            switch (value) {
                case "catch":
                    $('.updateProductButton').click();
                    break;
                default:
                    toastr.warning('Silmekten vazgeçtiniz.', 'Ürün silinmedi.')
                    break;
            }
        });

    }
</script>